# Valores e unidades de medida

Cada propriedade possui valores property: value
Estudo constante a fim de entender as propriedades e seus valores
Na prática

Como conhecer e estudar os valores na documentação?
<color> <length>

Os termos podem variar values ou data types

## Tipos no CSS

* background-color (Caixas);
* color (Textos);
* border-color (Bordas de caixas);
* outros...

# Valores
* palavra-chave (blue, transparent);
* hexadecimal (#990011);
* funções: rgb, rgba, hsl, hsla;

'''css
element {
  /*keyword values*/
  color: currentcolor;
  
  /*<named-color> values*/
  color: red;
  color: orange;
  color: tan;
  color: rebeccapurple;
  
  /*<hex-color> values 0-F*/
  /*Red Green Blue*/
  color: #090;
  color: #009900;
  color: #090a;
  color: #009900aa;
  
  /*<rgb()> values*/
  color: rgb(34, 12, 64, 0.6);  /*0 -255*/
  color: rgba(34, 12, 64, 0.6);
  color: rgb(34, 12, 64 / 0.6);
  color: rgba(34, 12, 64, 0.3);
  color: rgb(34, 12, 64, 60%);
  color: rgba(34, 12, 64, 30%);

  /*<hsl()> values*/
  color: hsl(30, 100%, 50%, 0.6); /*Hue - Saturation - Luminance*/
  color: hsla(30, 100%, 50%, 0.6);
  color: hsl(30, 100%, 50% / 0.6);
  color: hsla(30, 100%, 50% / 0.6);
  color: hsl(30, 100%, 50% / 60%);
  color: hsla(30, 100%, 50%, 60%);

  /*Global Values*/
  /*Valores de Herança*/
  color: inherit;
  color: initial;
  color: unset;

}
'''


Documentação MDN: https://developer.mozilla.org/en-US/
